<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bfApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bfApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bfApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="bfApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>豆点，让生活更便捷</title>
  <meta name="description" content="">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta name="renderer" content="webkit">

  <link rel="stylesheet" href="components/resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="components/resources/css/main.css">
  <link rel="stylesheet" href="components/resources/css/app.css">

  <!--<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body ng-controller="ApplicationController" ui-view="full">

  <div class="container-fluid nav-green">
    <div class="row">
      <div class="col-xs-4">
        <a ng-click="back()" ng-show="nav.back" class="navback"><i class="fa fa-arrow-left"></i> </a>
      </div>
      <div class="col-xs-4 text-center">
        <h4>{{nav.title}}</h4>
      </div>
      <div class="col-xs-4">
        <p class="text-right">
          <a href="#" ng-show="nav.registerShow" ui-sref="register" style="color: #fff;">注册</a>
          <button ng-show="nav.edit" class="btn btn-xs btn-info" ng-click="edit()">编辑</button>
          <a ui-sref="addToOrder({from:'main'})" ng-show="nav.shop"><i class="fa fa-shopping-cart" style="font-size: 1.5em;color:#FFF;"></i> <span class="badge shopCartBubble">{{nav.shopCount}}</span></a>
        </p>
      </div>
    </div>
  </div>
  <div ui-view style="width:100%;overflow-x: hidden;overflow-y: auto;padding-bottom:50px;">

  </div>

  <div class="container-fluid">
    <div ng-show="nav.bottomShow" class="text-center row tab-green navbar-fixed-bottom">
      <div class="col-xs-4" ui-sref-active="active">
        <a ui-sref="main.setMeals"><div><span class="glyphicon glyphicon-th"></span></div><div><span style="font-size: 1px;">菜单</span></div></a>
      </div>
      <div class="col-xs-4">
        <a ng-click="toExpressMap()"><div><span class="fa fa-eye"></span></div><div><span style="font-size: 1px;">零距离</span></div></a>
      </div>
      <div class="col-xs-4">
        <a ng-click="toLogin()"><div><span class="glyphicon glyphicon-user"></span></div><div><span style="font-size: 1px;">个人</span></div></a>
      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="components/resources/js/angular.js"></script>
  <script src="components/resources/js/jquery-1.10.2.min.js"></script>
  <script src="components/resources/js/angular-animate.js"></script>
  <script src="components/resources/js/angular-aria.js"></script>
  <script src="components/resources/js/underscore-min.js"></script>
  <script src="components/resources/js/hammer.js"></script>
  <script src="components/resources/js/angular-ui-router.js"></script>
  <script src="components/resources/js/plugins.js"></script>
  <script src="components/resources/js/ui-bootstrap.js"></script>
  <script src="components/resources/js/ui-bootstrap-tpls.js"></script>
  <script src="components/resources/js/bindonce.min.js"></script>
  <script src="components/resources/js/ui-map.js"></script>
  <script src="components/resources/js/ui-utils.min.js"></script>

  <script src="http://api.map.baidu.com/api?type=quick&ak=G8eLGMlNf9Yh0ncZEqcro4K2&v=1.0"></script>

  <script src="components/app.js"></script>
  <script src="components/controllers.js"></script>
  <script src="components/services.js"></script>
  <script src="components/directives.js"></script>
  <script>
    angular.module('bfApp.constants', [])
            .constant('ctx','${request.contextPath!}');

  </script>
</body>
</html>
