<div class="activity container-fluid" style="background-color: #ff6b5c;">
    <form ng-submit="saveRedPaper()">
        <input type="hidden" value = "{{sendCouponId}}"/>
        <div class="text-center">
            <img src="components/resources/images/logo.png">
        </div>
        <div style="margin-top: 20px;">
            <div class="row text-center">
                <p class="text-danger"><h4 style="color: #ffff00" ng-bind="activityInfoText"></h4></p>
            </div>
            <div class="row text-center">
                <p class="text-danger"><h4 style="color: #ffff00" ng-bind="loginText"></h4></p>
            </div>
            <div class="row mgb20" ng-show="showPhoneRow">
                <div class="col-xs-12">
                    <input class="form-control text-center" ng-model="user.loginName" placeholder="请输入您的手机号">
                </div>
                </br>
                </br>
                <div class="col-xs-12">
                    <input class="form-control text-center" type="password" ng-model="user.password" placeholder="设置登录密码">
                </div>
            </div>
                <div class="row text-center" style="margin-top:20px;">
                    <p class="text-danger"><a style="color: #ffff00" ng-click="openAboutUs()">关于我们</a></p>
                </div>
            <div class="row mgb20">
                <div class="col-xs-6" ng-show="takeRedPaperBtn">
                    <button type="submit" class="btn-lg {{btnColor}} btn-block" ng-disabled="disableBtn">领取红包</button>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn-lg btn-warning btn-block" ng-click="openHowToShare()">立即分享</button>
                </div>
                <div class="col-xs-10 col-xs-offset-1" ng-show="backBtn">
                    <button class="btn-lg btn-danger btn-block" ng-click="back()">返回</button>
                </div>
            </div>
        </div>
        <table style="color:#fff;margin-top: 30px;">
            <tr>
                <td style="width:30%;padding-top: 10px;">活动期限：</td>
                <td style="width:70%;padding-top: 10px;">2015-01-01至2015-01-31</td>
            </tr>
            <tr>
                <td valign="top" style="width:30%;padding-top: 10px;">活动规则：</td>
                <td style="width:30%;padding-top: 10px;">
                    亲！领红包后，即可进入商城选购您喜欢吃的美餐了。在您提交订单支付时可选择红包抵消部分金额，注意每次抢到的红包只有一个月的有效期~
                </td>
            </tr>
            <tr>
                <td valign="top" style="width:30%;padding-top: 10px;">分享理由：</td>
                <td style="width:30%;padding-top: 10px;">
                    1、提供健康、味美、便捷的工作餐外卖；</br>
                    2、变态的卫生标准，可参考官网：www.xiaohuangdou.cn；</br>
                    3、极致的就餐服务，不信可以关注公众号“ddcb”试试；</br>
                    4、每天将所用食材公布于互联网；</br>
                    5、每一个订单都可实时追踪位置；</br>
                    6、独乐了不如众乐乐，红包里还有银子赶紧分享给您的好友吧。
                </td>
            </tr>

        </table>
    </form>
</div>

<script type="text/ng-template" id="aboutUs.html">
    <div class="container-fluid">
        <div class="modal-header">
            <h3 class="modal-title">关于我们</h3>
        </div>
        <div class="modal-body">
            <div class="radio" ng-repeat="coupon in items">
                <label>
                    关于我们，关于我们
                </label>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="howToShare.html">
    <div>
        <img style="width:100%;"  src="components/resources/images/share.png">
    </div>
</script>

