<form class="form" role="form" ng-submit="toOrder()">
<input name="type" type="hidden" name="order.orderType" ng-model="order.orderType"/>
<input name="status" type="hidden" name="order.status" ng-model="order.status"/>
<table class="table table-bordered-bottom table-striped table-hover">
    <thead>
    <tr>
        <td>餐品</td>
        <td>数量</td>
        <td>小计</td>
    </tr>
    </thead>
    <tr ng-repeat="orderDetail in orderDetails track by orderDetail.foodObjId">
        <td class="col-xs-6 text-left"><span class="text-info" ng-bind="orderDetail.foodObjName"></span></td>
        <td class="col-xs-3 text-left"><i class="fa fa-times"></i> <span ng-bind="orderDetail.foodObjCount"></span></td>
        <td class="col-xs-3 text-left"><i class="fa fa-jpy"></i> <span ng-bind="orderDetail.foodObjTotalPrice"></span></td>
    </tr>
    <tr>
        <td>总价：</td>
        <td colspan=2 class="text-center"><span ng-bind="order.orderPrice"></span></td>
    </tr>
</table>
<alert type="{{alert.type}}" ng-show="alert.show">{{alert.msg}}</alert>
<table class="table table-bordered-bottom table-striped table-hover">
    <tr>
        <td class="col-xs-5">
            <div class="checkbox mgtb0">
                <label>
                    <input type="checkbox" ng-disabled="!hasCredits" ng-model="useCredits">积分兑换：
                </label>
            </div>
        </td>
        <td>
            <input type="text" class="form-control" ng-disabled="!useCredits" ng-model="order.exccreaditCount"/>
        </td>
    </tr>
    <tr>
        <td class="col-xs-4">
            <div class="checkbox mgtb0">
                <label>
                    <input type="checkbox"  ng-disabled="!hasCoupons" ng-model="useCoupons">使用代金券：
                </label>
            </div>
        </td>
        <td>
            <span ng-hide="hasCoupons">无</span>
            <a  ng-show="hasCoupons" ng-disabled="!useCoupons" class="btn btn-default" ng-click="open('sm')">选择</a>
            <span ng-show="selected">{{selected}} 元</span>
        </td>
    </tr>
</table>

<table class="table table-bordered-bottom table-striped table-hover">
    <tr>
        <td class="col-xs-4">手机：</td>
        <td class="col-xs-10 text-center"><input type="text" class="form-control" ng-model="order.consigneeMobile"/></td>
    </tr>
    <tr>
        <td class="col-xs-4">姓名：</td>
        <td class="col-xs-10 text-center"><input type="text" class="form-control" ng-model="order.consigneeName"/></td>
    </tr>
    <tr>
        <td class="col-xs-4">地址：</td>
        <td class="col-xs-10 text-center"><input type="text" class="form-control" ng-model="order.consigneeAddress"/></td>
    </tr>
    <tr>
        <td class="col-xs-4">送达日期：</td>
        <td class="col-xs-10 text-center"><input type="text" class="form-control"/></td>
    </tr>
    <tr>
        <td class="col-xs-5">送达时间：</td>
        <td class="col-xs-10 text-center">
            <select class="form-control" ng-model="order.preSendTime">
                <option>07:00-07:30</option>
                <option>07:30-08:00</option>
                <option>08:00-08:30</option>
                <option>08:30-09:00</option>
                <option>09:00-09:30</option>
                <option>09:30-10:00</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="col-xs-5">订单备注：</td>
        <td class="col-xs-10 text-center"><textarea class="form-control" ng-model="order.comments"></textarea></td>
    </tr>
</table>

<div class="row text-center">
    <div class="col-xs-5 col-xs-offset-1">
        <button type="submit" class="btn btn-primary btn-block" ng-click="online()">在线支付</button>
    </div>
    <div class="col-xs-5">
        <button type="submit" class="btn btn-warning btn-block" ng-click="offline()">货到付款</button>
    </div>
</div>
</form>



<script type="text/ng-template" id="coupons.html">
    <div class="container-fluid">
    <div class="modal-header">
        <h3 class="modal-title">选择一个代金券</h3>
    </div>
    <div class="modal-body">
        <div class="radio" ng-repeat="coupon in items">
            <label>
                <input type="radio" ng-model="selected.item" id="optionsRadios1" value="{{$index}}" checked>
                {{coupon.price}}元
            </label>
        </div>
        <!--<b>{{selected.item}}</b>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
    </div>
</script>