<form class="form" role="form" ng-submit="saveFeedback()">
<div class="container-fluid">
<table class="table table-bordered-bottom table-striped table-hover">

    <tr>
        <td class="col-xs-10 text-center"><textarea class="form-control" ng-model="content1" placeholder="您的建议是我们前进的动力"></textarea></td>
    </tr>
    <tr>
        <td class="col-xs-10 text-center"><input type="text" class="form-control" ng-model="content2" placeholder="请留下您宝贵的联系方式"/></td>
    </tr>
    <tr>
        <td class="col-xs-10">您的建议或投诉我们会第一时间处理，一旦建议被采纳将奖励您200个积分</td>
    </tr>
</table>
<alert type="{{alert.type}}" ng-show="alert.show" close="closeAlert()">{{alert.msg}}</alert>
<div class="row text-center">
    <div class="col-xs-12">
        <button type="submit" class="btn btn-success btn-block">提交</button>
    </div>
</div>
</div>
</form>