<div class="row" ng-repeat="food in foods">
    <div class="media media-border row">
        <a class="media-left col-xs-5" href="javascript:void(0);">
            <img src="components/resources/images/setmeal_ex.png" class="img-thumbnail">
        </a>
        <div class="media-body col-xs-7" style="padding-top:8px;">
            <h4 class="media-heading" ng-bind="food.foodName"></h4>
            <!--
            <span class="label label-success" ng-if="food.status=='PUTAWAY'&&food.foodCount>=1">接受预定中</span>
            <span class="label label-default" ng-if="food.status=='SOLD_PUT'">暂不能预订</span>
            <span class="label label-default" ng-if="food.foodCount<1">已经售完了</span>

            <h4><small>现价: <span style="color:#398439;" ng-bind="food.price"></span> 元</small></h4>
            -->
        </div>
    </div>
</div>
<div>
    <span class="text-center" ng-click="loadNext()"><h5 ng-bind="loadMoreText"></h5></span>
</div>