<accordion close-others="oneAtATime" ng-repeat="order in orders">
    <accordion-group is-open="$first">
        <accordion-heading>
            <h5 class="list-group-item-heading" ng-switch on="order.status">
                订单编号：<span ng-bind="order.orderNo"></span>
                <span class="label label-info pull-right" ng-switch-when="DRAFT">待确认</span>
                <span class="label label-success pull-right" ng-switch-when="FINISH">完成</span>
                <span class="label label-success pull-right" ng-switch-default>配送中</span>
            </h5>
        </accordion-heading>
        <h5>
        <small style="margin-top: 5px;">
        <p>订单金额：<span ng-bind="order.orderPrice"></span> 元</p>
        <p>下单时间：<span ng-bind="order.extMap.createTimeStr"></span></p>
        </small>
        </h5>
        <!--订单详情-->
        <table class="table table-bordered table-striped table-hover" style="margin-top: 5px;">
            <thead>
            <tr>
                <td>餐品</td>
                <td>数量</td>
                <td>小计</td>
            </tr>
            </thead>
            <tr ng-repeat="orderDetail in order.orderDetails track by orderDetail.foodObjId">
                <td class="col-xs-6 text-left"><span class="text-info" ng-bind="orderDetail.foodObjName"></span></td>
                <td class="col-xs-3 text-left"><i class="fa fa-times"></i> <span ng-bind="orderDetail.foodObjCount"></span></td>
                <td class="col-xs-3 text-left"><i class="fa fa-jpy"></i> <span ng-bind="orderDetail.foodObjPrice"></span></td>
            </tr>
            <tr ng-show="order.exccreaditCount&&order.exccreaditCount>0">
                <td>使用积分：</td>
                <td colspan=2 class="text-center"><span ng-bind="order.exccreaditCount"></span></td>
            </tr>
            <tr ng-show="order.couponPrice">
                <td>使用优惠券：</td>
                <td colspan=2 class="text-center"><span ng-bind="order.couponPrice"></span> 元</td>
            </tr>
            <tr>
                <td>总价：</td>
                <td colspan=2 class="text-center"><span ng-bind="order.orderPrice"></span> 元</td>
            </tr>
        </table>

    </accordion-group>
</accordion>

<div class="container" ng-show="orders.length<1">
    <img class="img-rounded" style="width:100%;height:100%;background-color:#FFF;" ng-src="components/resources/images/empty_order.png"/>
</div>