<div class="container-fluid">
    <form ng-submit="saveUser()">
    <div class="row">
    <table class="table table-bordered-bottom table-striped table-hover">
        <tr>
            <td class="col-xs-4">姓名：</td>
            <td class="col-xs-10 text-left">
                <span ng-hide="edit" ng-bind="user.userName"></span>
                <input ng-show="edit" type="text" ng-model="user.userName"/>
            </td>
        </tr>
        <tr>
            <td>手机：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.mobile"></span>
                <input ng-show="edit" type="text" ng-model="user.mobile"/>
            </td>
        </tr>
        <tr>
            <td>性别：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.sex"></span>
                <input ng-show="edit" type="text" ng-model="user.sex"/>
            </td>
        </tr>
        <tr>
            <td>微信：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.weixin"></span>
                <input ng-show="edit" type="text" ng-model="user.weixin"/>
            </td>
        </tr>
        <tr>
            <td>QQ：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.qq"></span>
                <input ng-show="edit" type="text" ng-model="user.qq"/>
            </td>
        </tr>
        <tr>
            <td>联系地址1：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.userCustomer.address1"></span>
                <input ng-show="edit" type="text" ng-model="user.userCustomer.address1"/>
            </td>
        </tr>
        <tr>
            <td>联系地址2：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.userCustomer.address2"></span>
                <input ng-show="edit" type="text" ng-model="user.userCustomer.address2"/>
            </td>
        </tr>
        <tr>
            <td>联系地址3：</td>
            <td class="text-left">
                <span ng-hide="edit" ng-bind="user.userCustomer.address3"></span>
                <input ng-show="edit" type="text" ng-model="user.userCustomer.address3"/>
            </td>
        </tr>
    </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success btn-block" ng-show="edit">提交</button>
        </div>
    </div>
    </form>
</div>